.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-name {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}

.save-button {
  background: rgba(0, 128, 96, 1);
  border: 2px solid rgba(0, 128, 96, 1);
  border-radius: 2px;
  width: 72px;
  height: 32px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.product-count{
    font-size: 16px;
    font-weight: 400;
    

}